<h3><i class="fas fa-book-bible"></i>QuietTime</h3>
<div class="section">
 <p class="lead">Read and meditate on today's bible verse</p>
</div>
<div class="divider"></div>
<div class="section">
 <a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i> Log In with Google
 </a>
</div>