@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Lato:wght@300;400;700&display=swap');

body {
  font-family: Josefin Sans, sans-serif;
}

p{
 margin: 10px 0 !important;
}

.login-container{
 width: 400px;
 margin-top: 50px;
 text-align: center;
}

.fa-small {
 font-size: 16px !important;
}

.btn-float {
 float: left;
 margin-right: 10px;
}

.img-small {
 width: 180px;
}

.post-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}


.dashboard-main > span,p {
  font-style: italic;
}